* {
    box-sizing: border-box;
  }

  h5{
    font-weight:bold;
    font-size: 20px;
  }

  h6{
    font-weight:bold;
    font-size: 18px;
    }

  p{
    font-size: 18px;
    white-space: pre-wrap;
  }
  
  /* Style the list (remove margins and bullets, etc) */
  ul {
    list-style-type: none;
  }
  
  /* Style the list items */
  li {

    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 6px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    position: relative;
  }
  
  /* Add a light grey background color on hover */
  li:hover {
    background-color: #eee;
  }
  
  /* Style the close button (span) */
  .close {
    cursor: pointer;
    position: relative;
    top: 50%;
    right: 0%;
    padding: 6px 8px;
    transform: translate(0%, -50%);
  }
  
  .close:hover {background: #bbb;}